@import "../components/vars";

.article {
    display: grid;
    grid-template-columns: 1rem 1fr 1fr minmax(auto, 600px) 1fr 1fr 1rem;
    margin-bottom: 1rem;

    > * {
        grid-column: ~"4 / 5";
        margin: 4rem 0 0;
    }

    :global .wp-block-gallery {
        grid-column: ~"3 / 6";
    }

    p {
        grid-column: ~"4 / 5";
    }

    p + p {
        margin-top: 2rem;
    }
}

.header {
    grid-row-start: 1;
    align-self: end;
    grid-column: ~"4 / 5";
    color: @highlight2;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .hasFeaturedImage & {
        color: @highlight1;
    }
}

.title {
    margin: 0;
    font-size: 3em;
    margin-bottom: 1rem;
}

.featuredImage {
    width: 100%;
    height: calc(100vh - 8.8rem);
    grid-row-start: 1;
    grid-column: ~"1 / -1";
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.prevNext {
    display: flex;
    justify-content: space-between;
}