@import "../components/vars";

.article {
    display: grid;
    grid-template-columns: 1rem 1fr 1fr minmax(auto, 600px) 1fr 1fr 1rem;
    grid-row-gap: 4rem;
    margin-bottom: 1rem;

    > * {
        grid-column: ~"3 / 6";
    }

    p {
        margin: 0;
        grid-column: ~"4 / 5";
    }
}

.header {
    grid-row-start: 1;
    align-self: end;
    grid-column: ~"4 / 5";
    color: @highlight2;

    .hasFeaturedImage & {
        color: @highlight1;
    }
}

.title {
    margin: 0;
    font-size: 3em;
    margin-bottom: 1rem;
}

.featuredImage {
    width: 100%;
    grid-row-start: 1;
    grid-column: ~"1 / -1";
}