
.wp-block-gallery {
    padding: 0;
    list-style: none;

    img {
        width: 100%;
        display: block;
    }

    figure {
        margin: 0;
    }
}

.blocks-gallery-item {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.wp-block-video {
    video {
        width: 100%;
    }
}